<div>
    <a href="/orderBy/?page=<%=1%>&sortBy=<%=sortBy%>&order=<%=order%>"><button class="btn btn-primary"><<</button></a>
    <a href="/orderBy/?page=<%=Number(pageNum)-1%>&sortBy=<%=sortBy%>&order=<%=order%>"<%if(pageNum==1){%> onclick='return false;' <%}%> ><button class="btn btn-primary"><</button></a>
    <a href=""><button class="btn btn-primary"><%=pageNum%></button></a>
    <a href="/orderBy/?page=<%=Number(pageNum)+1%>&sortBy=<%=sortBy%>&order=<%=order%>"<%if(pageNum==lastPage){%> onclick='return false;' <%}%>><button class="btn btn-primary">></button></a>
    <a href="/orderBy/?page=<%=lastPage%>&sortBy=<%=sortBy%>&order=<%=order%>"><button class="btn btn-primary">>></button></a>
</div>